body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    max-width: 1200px;
    display: flex;
    align-items: center;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.number {
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
}

.number:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img {
    width: 100px;
    height: 100px;
}

.result-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 50px;
}

.newRecordColor {
    color: green;
}

.oldRecordColor {
    color: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}

@media(max-width: 1366px) {
    .board {
        max-width: 960px;
    }
}

@media(max-width: 992px) {
    .board {
        max-width: 750px;
    }
    td,
    .number,
    .img {
        width: 100px;
        height: 100px;
    }
}

@media(max-width: 768px) {
    .board {
        max-width: 560px;
    }
}

@media(max-width: 578px) {
    .board {
        max-width: 90%;
    }
}

@media(max-width: 480px) {
    td,
    .number,
    .img {
        width: 50px;
        height: 50px;
    }
}